<!DOCTYPE html>
<html lang="en">
<head>
    <!-- head -->
    <link rel="stylesheet" href="/css/syntax.css">
    {{ partial "head" }}
    <script src="https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js"></script>
    <script>mermaid.initialize({startOnLoad:true});</script>
    <link rel="stylesheet" href="/css/single.css">
</head>
<body class="container">
    <!-- header -->
    {{ partial "header" (dict "Kind" .Kind "Template" "Single") }}
    <!-- article -->
    <article class="article">
        <!-- title -->
        <h2><a class="title" href="{{.RelPermalink}}">{{.Title}}</a></h1>
        <p class="time-info" >
            <!-- Date -->
            <time class="low-info-text" >Written on: {{ .Date | time.Format ":date_long" }}</time>
            <!-- author -->
            {{if .Params.author}} 
            <span class="low-info-text">by: </span>
            <a class="low-info-text" href="/about" >{{.Params.Author}}</a>
            {{end}}
            <!-- total read time -->
            <span class="low-info-text" > - {{ .ReadingTime }} min(Est.)</span>
            <!-- Tags -->
        </p>

        <!-- content -->
        {{.Content}}
    </article>

    <!-- Previous next post -->
    {{ if .Params.tags }} 
    <div class="prev-next-section" >
        {{ if .PrevPage }}
        <div class="prev-next-post previous-post">
            <h4>Previous Article</h4>
            <a class="link-reverse" href="{{ .PrevPage.Permalink }}?ref=footer">{{ .PrevPage.Title | truncate 50 "..."}}</a>
        </div>
        {{ end }}

        {{ if .NextPage }}
        <div class="prev-next-post next-post">
            <h4>Next Article</h4>
            <a class="link-reverse" href="{{ .NextPage.Permalink }}?ref=footer">{{ .NextPage.Title | truncate 50 "..." }}</a>
        </div>
        {{ end }}
    </div>
    {{ end }}
    
    <!-- Related Posts -->
    {{ $related := .Site.RegularPages.Related . | first 5 }}
    {{ with $related }}
    <h3>See Also</h3>
    <ul>
    {{ range . }}
        <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
    {{ end }}
    </ul>
    {{ end }}

    <!-- footer -->
    {{ partial "footer" }}
</body>
</html>